* {
    font-family: 'Source Sans Pro', sans-serif;
  }


.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos para el Encabezado */
header {
    background-color: #000000;
    color: #fff;
}

#header .col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}


header img{
    width: 100%;
    margin-left: -24px;
}

header .img-fluid {
    width: 35px;
    margin-right: 50px;
    cursor: pointer;
}



header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}



header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header .col-4 a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

/* Estilos para el Banner */

#banner .col-8 {
    background-image: url(../img/local1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; 
    height: 800px;
}



#banner .col-8 h1{
    font-size: 64px;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 50px;
}



#contador {
    background-color: #D9D9D9;
    
}

#contador h2{
    font-weight: bold;

}

#contador p{
    font-weight: bold;
    color:  #E61414

}

#oferta {
    background-color: #00A19C;
    font-weight: bold;
}

#oferta .img-fluid {
    max-width: 80%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;     
    width: auto;      
}


.col-12
{
    height: 50%;
}

/* Estilos para la seccion 1 */

#seccion1 .col-12 h2 {
    font-weight: normal;
}

#seccion1 .col-12 p {
    font-weight: bold;
}
#seccion1 .col-12 {
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 60px;
}

#seccion1 .img-fluid {
    width: 100%; /* La imagen ocupará toda la anchura del contenedor */
    height: 250px; /* Ajusta la altura que desees para el div */
    overflow: hidden; /* Asegura que la imagen no se salga del div si es más grande que su altura */
    display: flex; /* Usamos Flexbox para centrar la imagen */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    position: relative;
    object-fit: cover; /* Hace que la imagen cubra el contenedor manteniendo su proporción */
}

/* Estilos para los Menus */

#menusGeneral {
    display: flex;
    justify-content: center;
    align-items: center;
}
