* {
    font-family: 'Source Sans Pro', sans-serif;
  }

body {
      overflow-x: hidden;
}

h1{
    font-size: 34px
}

h3{
    font-size: 18px
}


.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    padding: 0; 
    margin: 0; 
}

header {
    background-color: #000000;
    color: #fff;
}

#header .col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}


header img{
    width: 100%;
    margin-left: -24px;
}

header .img-fluid {
    width: 35px;
    margin-right: 50px;
    cursor: pointer;
}



header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}



header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header .col-4 a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

/* Estilos para el Banner */

#banner .col-8 {
    background-image: url(../img/local1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; 
    height: 800px;
}

#banner .btn-pedir {
    margin-left: 50px;
}

#banner .col-8 h1{
    font-size: 64px;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 50px;
}



#contador {
    background-color: #D9D9D9;
    
}

#contador h2{
    font-weight: bold;

}

#contador p{
    font-weight: bold;
    color:  #E61414;

}

#oferta {
    background-color: #00A19C;
    font-weight: bold;
}

#oferta .img-fluid {
    max-width: 80%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;     
    width: auto;      
}


.col-12
{
    height: 50%;
}



.btn-oferta {
    background-color: #E61414;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 229px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.btn-oferta::before,
.btn-oferta::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: inherit;
}

.btn-oferta::before {
    left: -20px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.btn-oferta::after {
    right: -20px;
    clip-path: polygon(0 0, 100% 0%, 0 100%)
}

.btn-oferta:hover {
    background-color: black;
    color: white;
}

.btn-pedir {
    background-color: #E61414;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.btn-pedir::before,
.btn-pedir::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: inherit;
}

.btn-pedir::before {
    left: -19px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.btn-pedir::after {
    right: -20px;
    clip-path: polygon(0 0, 100% 0%, 0 100%);
}

.btn-pedir:hover {
    background-color: black;
    color: white;
}

.btn-oferta,
.btn-pedir,
.btn-menus {
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-filter {
    background-color: #E61414;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    border-radius: 5px;
}

.btn-filter:hover {
    background-color: black;
    color: white;
}

/* Estilos para la seccion 1 */


#seccion1 .col-12 h2 {
    font-weight: normal;
}

#seccion1 .col-12 p {
    font-weight: bold;
}
#seccion1 .col-12 {
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 60px;
    box-sizing: border-box; 
    width: 100%; 
    margin: 0; 
}

#seccion1 .img-fluid {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    object-fit: cover; 
}

/* Estilos para los Menus */

#menusGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F3F3;
    padding-bottom: 40px;
}

#menusGeneral h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
    text-align: center;
}

#menus {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

#menusGeneral .text-center {
    width: 100%;
    margin-top: 20px;
}

.card:hover {
    background-color: black;
    color: white;
}

.card:hover .img-container {
    background-color: transparent;
}

.btn-add {
    background-color: transparent;
    border: none;
    color: #E61414;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-right: -10px;
}

.btn-menus {
    background-color: #E61414;
    color: white;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.btn-menus::before,
.btn-menus::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: inherit;
}

.btn-menus::before {
    left: -19px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.btn-menus::after {
    right: -20px;
    clip-path: polygon(0 0, 100% 0%, 0 100%);
}

.btn-menus:hover {
    background-color: black;
    color: white;
}

.card-title {
    font-weight: bold;
    font-size: 32px;
}

.card-text {
    font-size: 24px;
    color: #999999;
}

.img-container {
    background-color: red;
    position: relative;
}

.img-container img {
    width: 100%;
    height: auto;
}

.img-container:hover {
    background-color: transparent;
}

.flecha-roja {
    width: 33px;
    vertical-align: middle;
    margin-left: 5px; /* Adjust this value to move it closer */
}

/*Seccion Formulario*/

#form {
    background-image: url('../img/local2.png');
    background-size: cover;
    background-position: center;
    height: 637px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#form h2 {
    color: white;
    padding: 40px 0;
}

#form form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    width: 860px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}

#form input {
    padding: 10px;
    width: 254px;
    border: 1px solid #ccc;
    font-weight: bold;
}

#form button {
    background-color: #E61414;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 46px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

#form button:hover {
    background-color: black;
}

#form .img-enviar {
    width: 100%;
    height: auto;
}

#form button {
    background-color: #E61414;
    
}

#form button:hover {
    background-color: black;
}

/*Footer*/

footer{
    font-family: 'Source Sans Pro', sans-serif;
}
footer .col-5 {
    background-color: #E61414;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .footer-logo {
    width: 50%; 
    margin-right: -65px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%; 
    height: auto; 
}

footer .col-7 {
    background-color: #000000;
    display: flex;
    align-items: center;
}

footer p {
    font-weight: bold;
}

footer .text-center {
    text-align: center;
}

#primer-footer {
    padding-bottom: 80px;
}

.footer-links {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.footer-left {
    text-align: left;
    margin-left: 20px;
}

.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right img {
    margin-left: 10px;
    width: 40px;
}

hr {
    border: none;
    height: 5px;
    border-color: #000000; 
    background-color: #000000; 
  }

/*Estilos para la seccion de CARTA*/


#intro-carta .col-12 {
    text-align: left;
    padding-bottom: 60px;
}

#intro-carta p {
    margin-left: 30px;
    margin-right: 30px;
    color: #999999;
}

#intro-carta h1 {
    margin-left: 30px;
    font-weight: bold;
    padding-top: 60px;
    color: #000000;
}

#carta{
    padding-top: 60px;
}

#carta .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#carta .col-md-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Estilos para la paginación */

.pagination {
    gap: 20px;
}

.page-link {
    font-weight: bold;
    border: 3px solid #000;
    border-radius: 0 !important;
    color: #000000;
}

.page-item {
    border-radius: 0 !important;
}

.page-item.active .page-link {
    border: 3px solid #E61414;
    color: #E61414;
    background-color: transparent;
}


.page-link:hover,
.page-item.active .page-link:hover {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
}

.numero-pagina {
    margin-top: 20px;
}

/* Estilos para la pagina CARRITO */

#intro-carrito .col-12 {
    text-align: left;
    padding-bottom: 30px;
}

#intro-carrito p {
    margin-left: 30px;
    margin-right: 30px;
    color: #999999;
}

#intro-carrito h1 {
    margin-left: 30px;
    font-weight: bold;
    padding-top: 60px;
    color: #000000;
}

/* Estilos para el bloque 2 */

#bloque2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.producto {
    display: flex;
    align-items: center;
    width: 919px;
    height: 107px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    margin-bottom: 10px;
}

.producto .img-container {
    width: 170px; 
    height: 105px;
    background-color: #D9D9D9;
    border-radius: 9px 0 0 9px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
}

.producto .img-container img {
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.producto .info {
    flex-grow: 1;
    margin-left: 5px;
}

.producto .info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.producto .info p {
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    color: #999999;
}

.producto .price-bin {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
    font-weight: bold;
    background-color: transparent;
}

.producto .price-bin button {
    background: none; 
    border: none;
    padding: 0; 
    cursor: pointer;
}

.producto .price-bin img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.producto .price{
    padding-right: 30px;
}
#bloque2 .container-fluid {
    display: flex;
    justify-content: center;
}

.btn-tramitar {
    background-color: #000000;
    color: white;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 400px;
    display: block;
    margin: 20px auto 0 auto;
    text-align: center;
    border-radius: 5px;
}

.btn-tramitar:hover {
    background-color: #E61414;
    color: white;
}

@media (max-width: 800px) {
    .producto {
        width: 150%; 
    }

}

.quantity-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-container input {
    width: 50px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quantity-container img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* Seccion Compra */
#banner-compra .row {
    background-image: url('../img/local1.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}

#banner-compra h1 {
    font-weight: bold;
    color: white;
}

#banner-compra .img-local {
    width: 80%;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Estilos para los métodos de pago */
.metodos-pago {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.metodos-pago label {
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #000;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
}

.metodos-pago input[type="radio"] {
    margin-right: 10px;
    transform: scale(2.2);
}

.metodos-pago img {
    margin-left: auto;
    width: 50px;
    height: 50px;
}

/* Estilos para el resumen de compra */

#resumen-compra .col-6#resumen {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 30%;
    height: 50%;
}

#resumen-compra .col-6#resumen h3 {
    font-size: 18px;
    color: #999999;
    font-weight: lighter;
}

#resumen-compra .col-6#resumen ul {
    list-style: none;
    padding: 0;
}

#resumen-compra .col-6#resumen ul li {
    font-weight: bold;
    font-size: 18px;
}

#resumen-compra .col-6#resumen p {
    font-size: 16px;
}

#resumen-compra .col-6#resumen p.iva {
    color: #999999;
}

#resumen-compra .col-6#resumen .divider {
    border-top: 1px solid #D7D7D7;
    margin: 10px 0;
}

#resumen-compra .col-6#resumen .total {
    font-size: 25px;
}

#resumen-compra .col-6.datos {
    margin-left: 30px;
    margin-top: 20px;
}

#resumen-compra .col-6.datos .form-group {
    margin-bottom: 5px;
    margin-left: 30px;
}

#resumen-compra .col-6.datos .form-group input {
    width: 40%;
    height: 40px;
    border: 1px solid #999999;
}

#resumen-compra .col-6.datos .form-group input#direccion {
    width: 100%
}

#resumen-compra .col-6.datos .form-group input#codigo_promocional {
    width: 180px;
}

#resumen-compra .col-6.datos .form-group input::placeholder {
    font-weight: bold;
    color: #999999;
}

.btn-pagar {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    display: block;
    margin: 20px auto 0 auto;
    text-align: center;
    border-radius: 5px;
}

.btn-pagar:hover {
    background-color: #E61414;
    color: white;
}

.btn-pagar2 {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 496px;
    height: 78px;
    display: block;
    margin: 20px auto 0 auto;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-pagar2:hover {
    background-color: #E61414;
    color: white;
}

#resumen-compra h1 {
    font-size: 24px;
    position: relative;
    padding-left: 30px;
    font-weight: bold;
    margin-top: 10px;
}

#resumen-compra h1::before {
    content: url('../img/flecha_seccion.png');
    position: absolute;
    left: 0;
    transform: translateY(3%);
    
}

@media (max-width: 800px) {
    #resumen-compra .col-6#resumen {
        width: 80%;
    }

    #resumen-compra h1 {
        font-size: 20px;
    }

    #resumen-compra h1::before {
        content: url('../img/flecha_seccion.png');
        position: absolute;
        left: 0;
        transform: translateY(3%);
    }
}

@media (max-width: 800px) {
    .bebida-box, .complemento-box {
        width: 100px;
        height: 100px;
    }

    .container-fluid {
        flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }

    .img-fluid {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .bebida-box, .complemento-box {
        width: 100px;
        height: 100px;
    }

    .container-fluid {
        flex-direction: column;
        align-items: center;
    }

    .col-6 {
        width: 100%;
        text-align: center;
    }

    .img-fluid {
        width: 80%;
        margin: 0 auto;
    }

    .bebidas, .complementos {
        justify-content: center;
    }
}

.metodos-entrega {
    margin-left: 30px;
    display: flex;
    gap: 30px;
}

.metodos-entrega img {
    cursor: pointer;
    border: 2px solid transparent;
}

.metodos-entrega img.selected {
    border-color: red;
    border-width: 4px;
}

.metodos-pago {
    margin-left: 30px;
}

.detalles-pago {
    display: none;
    margin-top: 10px;
    font-weight: bold;
}

.detalles-pago input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.detalles-pago label {
    display: block;
    margin-top: 10px;
}

.pedido-img {
    width: 30%;
}

.info-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-box img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}


.form-style {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.form-button {
    background-color: #E61414;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

.form-button:hover {
    background-color: black;
}

.form-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #E61414;
    text-decoration: none;
    font-weight: bold;
}

.form-link:hover {
    color: black;
}

.btn-enviar {
    background-color: #b2b2b2;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    margin: 10px 0; 
    border-radius: 5px; 
}

.btn-enviar:hover {
    background-color: #E61414;
}

.confirmation-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
}

.confirmation-box button {
    margin: 10px; 
}

.img-enviar {
    width: 100%;
    height: auto;
}

.bebidas, .complementos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bebida-box, .complemento-box {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.bebida-box img, .complemento-box img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
}

.bebida-box.selected, .complemento-box.selected {
    border-color: #E61414;
    background-color: #f8f8f8;
}

.bebida-box, .complemento-box {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}
.bebida-box.selected, .complemento-box.selected {
    border-color: #E61414;
    background-color: #f8f8f8;
}
